@*
    Name: Brett Snyder
    Date: 12/12/2019
    Course: CMSC 495 - Current Trends And Projects in Computer Science
    Desc: This page is where the user performs their exercises
*@

@page "{handler?}"
@model WorkoutGen.Pages.Exercises.IndexModel
@using Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";


    int exerciseCount = Model.Exercises.Count() + Model.UserExercises.Count();
    int firstExerciseId;
    string firstExerciseName;
    bool isUser = false;

    @if (SignInManager.IsSignedIn(User))
    {
        isUser = true;
    }

    if (Model.IsUserExercise)
    {
        firstExerciseId = Model.UserExercises.First().Id;
        firstExerciseName = Model.UserExercises.First().Name;
    }
    else
    {
        firstExerciseId = Model.Exercises.First().Id;
        firstExerciseName = Model.Exercises.First().Name;
    }
}

<div class="row">
    <div class="col-md-12 text-center">

        @if (exerciseCount != 0)
        {

            <form id="formEndWorkout" method="post" asp-page="/exercises/summary">
                <input id="workout" type="hidden" name="workoutId" value="@Model.WorkoutId" />
            </form>

            @*<a class="btn btn-primary mb-1" asp-page="/equipment/index" role="button">Back to equipment selection</a>*@

            <div class="row">
                <div class="col-12 text-center">

                    <div class="card">
                        <div class="card-header">

                            <div class="row">
                                <div class="col-3">
                                    <button id="btnLeft" type="button" class="btn btn-lg btn-primary btn-block h-100">
                                        <span class="oi oi-arrow-thick-left"></span>
                                    </button>
                                </div>

                                <div class="col-6 text-center">
                                    <h1 id="exerciseName" data-exercise="@firstExerciseId" data-user="@Model.IsUserExercise">@firstExerciseName</h1>
                                </div>

                                <div class="col-3">
                                    <button id="btnRight" type="button" class="btn btn-lg btn-primary btn-block h-100">
                                        <span class="oi oi-arrow-thick-right"></span>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="card-body justify-content-center">

                            <div class="row mb-4">

                                <div class="col-12 col-md-2"></div>

                                <div class="col-12 col-md-8 text-center">

                                    <div class="btn-group w-100" role="group" aria-label="ExerciseButtons">
                                        <button id="btnHowTo" type="button" class="btn btn-lg btn-light w-25 rounded-0 border-secondary" data-toggle="modal" data-target="#modalHowTo">How To</button>
                                        <button id="btnEditExercise" type="button" class="btn btn-lg btn-light w-25 rounded-0 border-secondary" data-toggle="modal" data-target="#modalEditExercise">Edit Workout</button>
                                        @if (isUser)
                                        {
                                            <button id="btnExerciseHistory" type="button" class="btn btn-lg btn-light w-25 rounded-0 border-secondary" data-toggle="modal" data-target="#modalExerciseHistory">Exercise History</button>
                                        }
                                    </div>

                                </div>

                                <div class="col-12 col-md-2"></div>

                            </div>

                            <div class="row mb-1">
                                <div class="col-12 col-md-2"></div>
                                <div class="col-6 col-md-4">
                                    <label for="weight" class="mr-2">Weight:</label>
                                    <input type="number" class="form-control mb-2 d-inline-flex" id="weight" required>
                                </div>
                                <div class="col-6 col-md-4">
                                    <label for="reps" class="mr-2">Reps:</label>
                                    <input type="number" class="form-control" id="reps" required>
                                </div>
                                <div class="col-12 col-md-2"></div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-2"></div>
                                <div class="col-md-8">
                                    <label for="txtSets">Sets</label>
                                    <textarea class="form-control" id="txtSets" rows="4" readonly style="resize: none;"></textarea>
                                </div>
                                <div class="col-2"></div>
                            </div>

                            <button id="btnAddSet" type="button" class="btn btn-lg btn-primary mb-4">Add Set</button>
                            <button id="btnClearSet" type="button" class="btn btn-lg btn-danger mb-4">Clear Set</button>

                            <h4>Progress</h4>
                            <div class="progress" style="height:25px;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="text-center"><span id="currentExerciseCount" class="font-weight-bold">0</span> exercises out of <span class="font-weight-bold">@exerciseCount</span> completed</p>

                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h1>Sorry!</h1>
            <h1>Nothing was found!</h1>
        }

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalHowTo" tabindex="-1" role="dialog" aria-labelledby="modalHowToLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="modalHowToLabel">How to perform <span id="howToExercise"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row mb-3">

                    <div class="col-md-4 text-center mb-2">
                        <div class="card">
                            <div class="card-header">
                                Muscle Groups
                            </div>
                            <div id="exerciseEditMuscleGroups" class="card-body"></div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center mb-2">
                        <div class="card">
                            <div class="card-header">
                                Equipment
                            </div>
                            <div id="exerciseEditEquipment" class="card-body"></div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="card">
                            <div class="card-header">
                                Alternate Equipment
                            </div>
                            <div id="exerciseEditAlternateEquipment" class="card-body"></div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <h5>Instructions</h5>
                        <p id="howToContent" class="mb-3">

                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 text-center">
                        <a id="howToLink" href="#" target="_blank" class="btn btn-lg btn-primary mb-3" role="button">Click here to learn more</a>
                    </div>
                    <div class="col-2"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalEditExercise" tabindex="-1" role="dialog" aria-labelledby="modalEditExerciseLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="modalEditExerciseLabel"><span id="modalEditExerciseHeader">Change workout</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row mb-3">

                    <div class="col-md-6 text-center mb-2">
                        <div class="card text-center">
                            <div class="card-header">
                                Muscle Groups Selected
                            </div>
                            <div class="card-body">
                                @if (Model.MuscleGroups != null)
                                {
                                    foreach (Models.MuscleGroup mg in Model.MuscleGroups)
                                    {
                                        <span class="badge badge-dark p-2">@mg.Name</span>
                                    }
                                }
                                <div class="text-center mt-2">
                                    <a class="btn btn-danger" asp-page="/musclegroup/index" role="button">Back to muscle groups</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 text-center">
                        <div class="card text-center">
                            <div class="card-header">
                                Equipment Selected
                            </div>
                            <div class="card-body">
                                @if (Model.Equipment != null)
                                {
                                    foreach (Models.Equipment mg in Model.Equipment)
                                    {
                                        <span class="badge badge-dark p-2">@mg.Name</span>
                                    }
                                }
                                <div class="text-center mt-2">
                                    <a class="btn btn-danger" asp-page="/equipment/index" role="button">Back to equipment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                @*<div class="row">
                        <div class="col-12">
                            <h5>Instructions</h5>
                            <p id="howToContent" class="mb-3">

                            </p>
                        </div>
                    </div>*@

                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExerciseHistory" tabindex="-1" role="dialog" aria-labelledby="modalExerciseHistoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="modalExerciseHistoryLabel"><span id="modalExerciseHistoryHeader">Exercise History</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card" style="overflow-y:scroll; height:350px;">
                    <div id="modalExerciseHistoryBody" class="card-body">

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalEndOfExercise" tabindex="-1" role="dialog" aria-labelledby="modalEndOfExerciseLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="modalEndOfExerciseLabel">End of workout!</h5>
            </div>
            <div class="modal-body">

                <p>You have completed all the exercises available.</p>

                <button id="btnStartOver" type="button" class="btn btn-lg btn-primary">Start over</button>
                <button id="btnEndWorkout" type="button" class="btn btn-lg btn-danger">End workout</button>

            </div>
        </div>
    </div>
</div>


@functions{

    // Sets active class to the first exercise in carousel
    public string GetActiveClass(int index)
    {
        if (index == 0)
            return "active";

        return "";
    }

    // We have to leave out the entity properties to prevent multiple cascade paths from breaking JSON serializer
    // Has to do with foreign keys. Need to look into further
    public IEnumerable<Models.UserExercise> GetUserExercises(IEnumerable<Models.UserExercise> userExercises)
    {

        return userExercises.Select(x => new Models.UserExercise
        {
            Id = x.Id,
            UserId = x.UserId,
            Name = x.Name,
            Description = x.Description,
            Hyperlink = x.Hyperlink,
            DateAdded = x.DateAdded,
            DateDeleted = x.DateDeleted
        });
    }
    // We have to leave out the entity properties to prevent multiple cascade paths from breaking JSON serializer
    // Has to do with foreign keys. Need to look into further
    public IEnumerable<Models.Exercise> GetExercises(IEnumerable<Models.Exercise> exercises)
    {

        return exercises.Select(x => new Models.Exercise
        {
            Id = x.Id,
            Name = x.Name,
            Description = x.Description,
            Hyperlink = x.Hyperlink,
            DateAdded = x.DateAdded,
            DateDeleted = x.DateDeleted
        });
    }
}

@section Scripts {

    <script>

         // Store globally
        let exercises = @Json.Serialize(GetExercises(Model.Exercises));
        let userExercises = @Json.Serialize(GetUserExercises(Model.UserExercises));
        const mergedExercises = $.merge($.merge([], exercises), userExercises);
        const muscleGroups = @Json.Serialize(Model.MuscleGroups);
        const equipment = @Json.Serialize(Model.Equipment);
        const sets = @Json.Serialize(Model.Sets);
        let sessionExerciseIndex = @Model.ExerciseIndex;
        const isUser = @Json.Serialize(isUser);

    </script>

    <environment include="Development">
        <script src="~/js/exercises.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/exercises.min.js"></script>
    </environment>
}
